.content {
  padding: 6rem 1rem 0;
  font-size: 22px;
  font-weight: 300;
  transition: padding 0.15s;
  user-select: none;
}

@media screen and (min-width: 60em) {
  .content {
    padding: 8rem calc(5% + 2rem) 0;
    font-size: 3.2vw;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .content {
    padding: 8rem calc(5% + 2rem) 0;
    font-size: 36px;
  }
}