.header {
  --h-padding: 1rem;
  --z-index: 3000;

  position: fixed;
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 1rem var(--h-padding);
  border-bottom: 2px solid rgb(var(--background-rgb));
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  backdrop-filter: grayscale(0.5) blur(4px);
  background-color: rgb(var(--foreground-rgb));
  mix-blend-mode: difference;
  mix-blend-mode: difference;
  z-index: var(--z-index);
}

.header--with-menu {
  background-color: rgb(var(--foreground-rgb));
  backdrop-filter: grayscale(0.5) blur(16px);
}

.logo {
  display: inline-flex;
}

.logo-link {
  font-size: 24px;
  font-weight: bold;
  color: rgb(var(--background-rgb));
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  user-select: none;
}

.logo-link:hover,
.logo-link:focus {
  animation: flicker 6s linear infinite;
  background-color: transparent;
}

.logo-link:focus {
  outline: none;
}

.menu {
  margin-left: auto;
  display: flex;
}

.page-title {
  display: none;
  color: rgb(var(--background-rgb));
  user-select: none;
}

.menu-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-label {
  font-size: 24px;
  display: none;
  user-select: none;
  color: rgb(var(--background-rgb));
}

.menu-icon {
  width: 32px;
  fill: rgb(var(--background-rgb));
}

.menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background-color: rgb(var(--background-rgb));
  border-bottom: 2px solid rgb(var(--foreground-rgb));
  padding: 0.5rem var(--h-padding);
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
  max-height: 60vh;
}

.menu-list--open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.menu-item {
  padding: 0.5rem 0;
  font-size: 24px;
  font-weight: 400;
}

.menu-link {
  color: #444444;
}

.menu-link:hover {
  text-decoration: underline;
  color: rgb(var(--foreground-rgb));
}

@media screen and (min-width: 60em) {
  .header {
    --h-padding: calc(5% + 2rem);
  }

  .page-title {
    display: inline;
  }
}

@media screen and (min-width: 30em) {
  .header {
    --h-padding: calc(5% + 2rem);
  }

  .menu-label {
    display: inline;
  }

  .menu-item {
    font-size: 32px;
  }
}

@keyframes flicker {
  0% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 3.3% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 3.67% {
    /*2*/
  color: rgb(var(--foreground-rgb));
  text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 10% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 36.7% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 37.3% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw #00bd74,
    0 0 0.521vw #00bd74;
  } 38% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 40.67% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw #00bd74,
    0 0 0.521vw #00bd74;
  } 41.33% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 60% {
    /*2*/
  color: rgb(var(--foreground-rgb));
  text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 80% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 93.3% {
    /*2*/
  color: rgb(var(--foreground-rgb));
  text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 93.5% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 98% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw #00bd74,
    0 0 0.521vw #00bd74;
  } 100% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  }
}