.footer {
  --h-padding: 1rem;
  --z-index: 3000;

  overflow-x: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 1rem var(--h-padding);
  border-top: 2px solid;
  border-color: rgb(var(--background-rgb));
  backdrop-filter: grayscale(0.5) blur(4px);
  mix-blend-mode: difference;
  z-index: var(--z-index);
}

@media screen and (min-width: 30em) {
  .footer {
    --h-padding: calc(5% + 2rem);
  }
}

.social-link {
  font-size: 24px;
  line-height: 32px;
  color: rgb(var(--background-rgb));
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  user-select: none;
}

.social-link:hover,
.social-link:focus {
  animation: flicker 6s linear infinite;
  background-color: transparent;
}

.social-link:focus {
  outline: none;
}

.page-title {
  visibility: hidden;
}

@media screen and (min-width: 30em) {
  .page-title {
    visibility: visible;
  }
}

@keyframes flicker {
  0% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
      0 0 0.3vw rgb(var(--foreground-rgb)),
      0 0 0.521vw rgb(var(--foreground-rgb)),
      0 0 1.094vw rgb(var(--foreground-rgb)),
      0 0 2.188vw #00bd74,
      0 0 4.271vw #00bd74,
      0 0 4.792vw #00bd74,
      0 0 5.313vw #00bd74,
      0 0 7.865vw #00bd74;
  } 3.3% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
      0 0 0.3vw rgb(var(--foreground-rgb)),
      0 0 0.521vw rgb(var(--foreground-rgb)),
      0 0 1.094vw rgb(var(--foreground-rgb)),
      0 0 2.188vw #00bd74,
      0 0 4.271vw #00bd74,
      0 0 4.792vw #00bd74,
      0 0 5.313vw #00bd74,
      0 0 7.865vw #00bd74;
  } 3.67% {
    /*2*/
  color: rgb(var(--foreground-rgb));
  text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 10% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 36.7% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 37.3% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw #00bd74,
    0 0 0.521vw #00bd74;
  } 38% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 40.67% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw #00bd74,
    0 0 0.521vw #00bd74;
  } 41.33% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 60% {
    /*2*/
  color: rgb(var(--foreground-rgb));
  text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 80% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 93.3% {
    /*2*/
  color: rgb(var(--foreground-rgb));
  text-shadow:
    0 0 0.3vw rgb(var(--foreground-rgb)),
    0 0 0.521vw rgb(var(--foreground-rgb)),
    0 0 1.094vw rgb(var(--foreground-rgb)),
    0 0 2.188vw #00bd74,
    0 0 4.271vw #00bd74,
    0 0 4.792vw #00bd74,
    0 0 5.313vw #00bd74,
    0 0 7.865vw #00bd74;
  } 93.5% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  } 98% {
    /*3*/
    opacity: 25%;
    color: transparent;
    text-shadow:
    0 0 0.3vw #00bd74,
    0 0 0.521vw #00bd74;
  } 100% {
    /*1*/
    opacity: 75%;
    color: rgb(var(--foreground-rgb));
    text-shadow:
      0 0 1vw #00bd74,
      0 0 2vw #00bd74,
      0 0 2.5vw #00bd74,
      0 0 3vw #00bd74,
      0 0 4vw #00bd74;
  }
}